@font-face {
  font-family: 'Lora';
  src: url('/fonts/lora/Lora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';

:root {
  --light-bg: #f7e6ca;
  --dark-bg: #1a1a1a;
  --light: #f2f2f2;
  --dark: #1a1a1a;
}

body {
  font-family: 'Lora', sans-serif;
}

body::before {
  position: absolute;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 50%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.5' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  pointer-events: none;
}

light-background {
  background-color: var(--light-bg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.animate-fade-in-delayed {
  opacity: 0;
  animation: fadeIn 1s ease-out 0.4s forwards;
}
